#copyButton, #helpMessage {
    -fx-text-fill: white;
}

#copyButton {
    -fx-background-color: #3B3854;
    -fx-background-radius: 0.2em;
}

#copyButton:hover {
    -fx-background-color: #544F78;
}

#copyButton:armed {
    -fx-background-color: #50528B;
     -fx-background-color: #6F52FF, #50528B ;
    -fx-background-insets: 1, 2;
    -fx-border-radius: 0.2em;
}

#helpMessageContainer {
    -fx-background-color: #262436;
}
